form {
  width: 600px;
  height: 200px
  border: 1px solid black;
}

form input {
  width: 600px;    
}

.app {
  width: 80%;
  height: 80%;
  border-radius: 5px;
  margin: 1.5em auto;
  border: 1px solid black;
  padding: 1.5em;
}